<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="MastCardAutoTestSuite">
	<test name="MastCardAutoTestSuite" parallel="methods" thread-count="2">
		<parameter name="baseURL" value="https://www.javatpoint.com/"/>
		<parameter name="browserType" value="Chrome"/>
  		<classes>
      			<class name="website.javaTPoint.tc.JavaTPointTestCases">
      			<methods>
      				<!-- <include name="tcLaunchJavaTPoint"/> -->
      				<include name="tcSeleniumTabNavigation"/>
					<!-- <include name="tcTestGetRequest"/> -->
					<include name="tcTestValidateUserMailIDExistence"/>
      			</methods>
      		</class>      		
    	</classes>
  	</test>
</suite>
